.container {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
  background-color: #fff6ec;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 101px 80px 4fr 3fr;
}

.containerPc {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
  background-color: #fff6ec;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 101px 80px 30px 4fr 3fr;
}

.tittleContainer {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(110, 53, 0);
}

/* .te {
  color: #d6670b;
} */

.tittleContainer h1 {
  font-size: 60px;
  color: #2e2e2e;
}

.containerOptions {
  display: flex;
  justify-content: center;
}
.containerOptions button {
  background-color: transparent;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.button1v1 {
  border: none;
  /* border-bottom: 3px solid #aa8f66; */
  margin-right: 10px;
}

.buttonPc {
  border: none;
  /* border-bottom: 3px solid #aa8f66; */
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

.containerTateti {
  margin-top: 50px;
  width: 80%;
  height: 550px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  display: grid;
  place-items: center;
  border: 2px solid #aa8f66;
  font-size: 100px;
  user-select: none;
  /* position: relative; */
}

/* .cell div {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  top: 50%;
  left: 0;
} */

.footer {
  width: auto;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 40px;
}

.o {
  color: #01368d;
}

.x {
  color: #ba3b46;
}

.winner {
  color: rgb(155, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerMark {
  margin-left: 10px;
}

.containerTurnoPc {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p {
  /* font-size: 30px; */
  margin-left: 6px;
}

.turnoPc {
  margin-left: 20px;
  font-size: 25px;
}

.ronda {
  font-size: 25px;
}

.playAgain {
  background-color: transparent;
  border: 3px solid #aa8f66;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: not-allowed;
}

.playAgainHuman {
  background-color: transparent;
  border: 3px solid #aa8f66;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: pointer;
  margin: 0 auto;
}

.a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.b {
  color: #aa8f66;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.popup {
  width: 500px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-radius: 15px;
  transition: 0.4s ease all;
  transition-delay: 1s;
}

.popup h2 {
  text-align: center;
  font-size: 30px;
}

.popup div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup button {
  background-color: transparent;
  border: 3px solid #aa8f66;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: pointer;
}

button:hover {
  background-color: #aa8f66;
  color: #fff;
}

@media screen and (max-width: 1480px) {
  .container {
    grid-template-rows: 71px 80px 4fr 3fr;
  }
  containerPc {
    grid-template-rows: 71px 80px 30px 4fr 3fr;
  }
  .containerTateti {
    height: 400px;
    width: 400px;
  }
  .cell {
    font-size: 70px;
  }
  .winner {
    margin: 15px 0;
  }
  .tittleContainer {
    height: 70px;
  }
  .tittleContainer h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 805px) {
  .container {
    width: 100%;
  }
  .containerPc {
    width: 100%;
  }
  .popup {
    width: 300px;
    height: 200px;
  }
  .popup h2 {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 426px) {
  .item1 {
    order: 10;
  }

  .item2 {
    order: 1;
  }

  .item3 {
    order: 20;
  }
  .a {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  .containerTateti {
    height: 340px;
    width: 90%;
  }
}
