.container {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
  background-color: #fff6ec;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 101px 80px 4fr 3fr;
}

.tittleContainer {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(110, 53, 0);
}

/* .te {
  color: #d6670b;
} */

.tittleContainer h1 {
  font-size: 60px;
  color: #2e2e2e;
}

.containerOptions {
  display: flex;
  justify-content: center;
}
.containerOptions button {
  background-color: transparent;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.button1v1 {
  border: none;
  /* border-bottom: 3px solid #aa8f66; */
  margin-right: 10px;
}

.buttonPc {
  border: none;
  /* border-bottom: 3px solid #aa8f66; */
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

.containerTateti {
  margin-top: 50px;
  width: 80%;
  height: 550px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  display: grid;
  place-items: center;
  border: 2px solid #aa8f66;
  font-size: 100px;
  user-select: none;
  /* position: relative; */
}

/* .cell div {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  top: 50%;
  left: 0;
} */

.footer {
  width: auto;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 40px;
}

.o {
  color: #01368d;
}

.x {
  color: #ba3b46;
}

.winner {
  color: rgb(155, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerMark {
  margin-left: 10px;
}

.playAgain {
  background-color: transparent;
  border: 3px solid #aa8f66;
  margin: 0 auto;
  width: 130px;
  height: 70px;
  color: #000;
  transition: 0.3s ease all;
  cursor: pointer;
}

button:hover {
  background-color: #aa8f66;
  color: #fff;
}

@media screen and (max-width: 1480px) {
  .container {
    grid-template-rows: 71px 80px 4fr 3fr;
  }
  .containerTateti {
    height: 400px;
    width: 400px;
  }
  .cell {
    font-size: 70px;
  }
  .winner {
    margin: 15px 0;
  }
  .tittleContainer {
    height: 70px;
  }
  .tittleContainer h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 805px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .containerTateti {
    height: 340px;
    width: 90%;
  }
}
